@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    font-size: 50px;
    color: rgb(30, 45, 255);
    cursor: pointer;
    border-radius: 60px;
    border: none;
    box-shadow: 0 5px 10px #ccc;
}

.back-to-top:hover {
    background: rgb(121, 255, 141);
}

/* css for linguistic annotations */

div.bhp, div.bhw, div.w, div.int {
    display: inline-block;
    text-align: center;
}

div.int {
    vertical-align: text-top;
}

div.bhc {
    direction: rtl;
    border: 1px solid #9B59B6;
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.bhp {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.bhw {
    border: 1px solid #F5B041;
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

clid {
    color: #641E16;
    font-weight: bold;
}

mclid {
    color: #641E16;
    font-style: italic;
}

connector {
    color: #9B59B6;
}

ckind, ctyp, crela {
    color: #00008B;
    display: inline-block;
}

ptyp {
    text-decoration: underline;
    color: gray;
}

pfunction {
    color: #3498DB;
    font-size: 90%;
}

det {
    font-weight: bold;
}

undet {
    font-style: italic;
}

prela {
    display: none;
}

hbint, gntint, gloss {
    direction: ltr;
    vertical-align: super;
    display: inline-block;
    color: #D35400;
}

gntint, gloss {
    font-size: 90%;
}

cllevel {
    color: #9B59B6;
}

clinfo {
    color: #641E16;
    font-weight: bold;
}

subclinfo {
    color: #641E16;
    font-weight: bold;
    font-size: 80%;
}

funcinfo {
    color: #3498DB;
    font-size: 90%;
}

wordid {
    text-decoration: underline;
    font-size: 80%;
    color: gray;
}

wsbl, wphono {
    direction: ltr;
    display: inline-block;
    color: rgb(205, 97, 97);
    font-size: 80%;
}

wmorph, wsn {
    direction: ltr;
    display: inline-block;
    font-size: 70%;
}

wgloss {
    direction: ltr;
    display: inline-block;
    font-size: 90%;
    color: #fc6500;
}

wtrans {
    direction: ltr;
    display: inline-block;
    font-size: 90%;
    color: #d44f40;
}

wlex {
    direction: ltr;
    display: inline-block;
    font-size: 90%;
    color: #3498DB;
}

cit, clt, cst, cbhs, cbsb, cleb {
    display: block;
}

clt, cbsb {
    color: #3498DB;
}

cst, cleb {
    color: #00008B;
}

cbsb, cleb {
    direction: ltr;
}

div.cltrans {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    border: 1px solid #00008B;
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.wrap {
    display: inline-block;
}

cl {
    display: table;
}

div.c {
    vertical-align: top;
    text-align: left;
    border: 1px solid #9B59B6;
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.p {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.w, div.int {
    border: 1px solid #F5B041;
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* css for clause segmentation */

div.bhsa {
    direction: rtl;
    border-right: 5px solid #F5B041;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px 10px 5px 10px;
}

div.e {
    border-left: 5px solid #F5B041;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px 10px 5px 10px;
}

.jepd_J {
    color: goldenrod;
}
.jepd_E {
    color: lightgreen;
}
.jepd_P {
    color: violet;
}
.jepd_R {
    color: red;
}
.jepd_Dtr1 {
    color: peru;
}
.jepd_Dtr2 {
    color: tan;
}
.jepd_Dtn {
    color: slategray;
}

.raw-html-dark-mode {
    color: F5F5F5;
    h2, h3, a {
        color: #F5F5F5;
    }
}